
@{
    ViewData["Title"] = "Plan";
}

<section id="hero" class="d-flex align-items-center">
    <div class="priorities bg-pumpkin" data-spy="affix" data-offset-top="197">
      <button type="button" class="toggle-button"></button>
      <p class="text-center text-white">Priorities</p>
      <div class="row no-gutters">
        <div class="col-6 text-white align-self-center">1st</div>
        <div class="col-6"><a href="" class="d-block bg-white p-2 rounded-left"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fa fa-dollar-sign"></i> Font Awesome fontawesome.com --></a></div>
      </div>
      <div class="row no-gutters">
        <div class="col-6 text-white align-self-center">2nd</div>
        <div class="col-6"><a href="" class="d-block bg-white p-2 rounded-left"><svg class="svg-inline--fa fa-tachometer-alt fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tachometer-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><!-- <i class="fas fa-tachometer-alt"></i> Font Awesome fontawesome.com --></a></div>
      </div>
      <div class="row no-gutters">
        <div class="col-6 text-white align-self-center">3rd</div>
        <div class="col-6"><a href="" class="d-block bg-white p-2 rounded-left"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> Font Awesome fontawesome.com --></a></div>
      </div>
    </div>
    <div class="container position-relative text-center text-lg-left aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <div class="hero-text">
        <div class="row">
          <div class="col-lg-9 col-md-12">
            <form class="mt-4 mb-3">
              <div class="row no-gutters align-items-end justify-content-center">
                <div class="col-auto col-md">
                  <div class="position-relative bg-pumpkin form-control d-flex align-items-center mb-3 icon-group icon-left icon-right">
                    <span class="icon bg-white text-pumpkin">1</span>
                    <input type="text" class="col bg-pumpkin text-white px-0" id="address" placeholder="Enter Your Address" value="99 Riddle Road,Glendowie" name="">
                    <button class="icon right bg-white text-pumpkin" type="submit"><span class="fa fa-search"></span><!-- <span class="fa fa-search"></span> Font Awesome fontawesome.com --></button>
                  </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                  <button class="btn bg-white btn-rounded btn-block active mb-3 icon-group icon-left text-pumpkin" type="submit"><span class="icon">2</span> Compare Plans</button>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-auto">
                  <button class="btn btn-pumpkin btn-rounded btn-block mb-3 icon-group icon-left" type="submit"><span class="icon">3</span> Get Great Internet</button>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </form>

          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg col-md-12 fiber-type">
            <p class="bg-dark-tangerine p-2 rounded d-none">We have found the best deals for you! You can sort by your priorities, filter aout the not importants, tag, score and make notes as you need.</p>
            <button class="btn btn-success btn-rounded btn-sm mb-3" type="submit">Fiber +</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success btn-rounded btn-sm mb-3" type="submit">Fiber 100</button>&nbsp;&nbsp;&nbsp;
            <button class="btn bg-white text-pumpkin btn-rounded btn-sm mb-3" type="submit">VDSL</button>&nbsp;&nbsp;&nbsp;
            <button class="btn bg-white text-pumpkin btn-rounded btn-sm mb-3" type="submit">ADSL</button>
          </div>
          <div class="col-lg-auto col-md-12">
            <button class="btn btn-pumpkin btn-rounded btn-sm mb-3 icon-group icon-right" type="submit">Save Lists <span class="icon right bg-white text-pumpkin"><svg class="svg-inline--fa fa-save fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="save" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"></path></svg><!-- <i class="fa fa-save"></i> Font Awesome fontawesome.com --></span></button> &nbsp;&nbsp;
            <button class="btn btn-pumpkin btn-rounded btn-sm mb-3 icon-group icon-right" type="submit">Next 3 Providers <span class="icon right bg-white text-pumpkin"><i class="material-icons">fast_forward</i></span></button>
          </div>
        </div>
      </div>
      
      <div class="row d-lg-none mobile-sorting">
        <div class="col-12 col-sm"></div>
        <div class="col-12 col-sm-auto">
          <form class="">
            <div class="form-group d-flex align-items-center my-3">
              <label class="text-white col-auto mb-0 px-0">Sort By </label>&nbsp;&nbsp;&nbsp;&nbsp;
              <select class="form-control form-control-rounded">
                <option>Select Option</option>
                <option>Favourite</option>
                <option>Rating</option>
                <option>Price</option>
                <option>Price 12 Months</option>
                <option>Speed</option>
                <option>Data</option>

              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-center align-items-end">
        <div class="sorting d-none d-lg-block  pb-5">
          <p class="mb-1">Sort</p>
          <ul class="mb-0 p-0">
            <li><a href=""><svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg><!-- <i class="fa fa-exchange-alt"></i> Font Awesome fontawesome.com --></a></li>
            <li><a href=""><svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg><!-- <i class="fa fa-exchange-alt"></i> Font Awesome fontawesome.com --></a></li>
            <li><a href=""><svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg><!-- <i class="fa fa-exchange-alt"></i> Font Awesome fontawesome.com --></a></li>
            <li><a href=""><svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg><!-- <i class="fa fa-exchange-alt"></i> Font Awesome fontawesome.com --></a></li>
            <li><a href=""><svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg><!-- <i class="fa fa-exchange-alt"></i> Font Awesome fontawesome.com --></a></li>
            <li><a href=""><svg class="svg-inline--fa fa-exchange-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="exchange-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg><!-- <i class="fa fa-exchange-alt"></i> Font Awesome fontawesome.com --></a></li>
          </ul>
          <div class="d-flex align-items-center justify-content-between opacity-0">
            <div class="text-center p-2 bg-white rounded-bottom">
              <a class="btn btn-dark-tangerine btn-rounded btn-sm icon-group icon-right px-0" type="submit">0</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 pb-5">
          <div class="block block-rounded mb-0 plan-box border-lb-0">
            <div class="block-content">
              <div class="row">
                <div class="col"></div>
                <div class="col-7">
                  <img src="assets/img/plan1.jpg" alt="" class="img-fluid plan-img mb-4">
                </div>
                <div class="col"></div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                  <h2 class="plan-price text-pumpkin mb-1"><sup><small>$</small></sup>89<sup><small>/mth</small></sup></h2>
                </div>
                <div class="col-12 text-center">
                  <a href="sign-up.html" class="btn btn-pumpkin btn-rounded icon-group icon-right">Select Plan <span class="icon right bg-white text-pumpkin"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fa fa-angle-right"></i> Font Awesome fontawesome.com --></span></a> &nbsp;&nbsp;
                </div>
                
              </div>
              <p class="alert alert-secondary small mt-2 mb-0">Price is good, done like tremination though and bob said he had a long wait.</p>
              <table class="plan-meta p-0">
                <tbody><tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fa fa-heart"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Favourite</td>
                  <td class="text-right pr-1"><svg class="svg-inline--fa fa-heart fa-w-16 text-pumpkin" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fa fa-heart text-pumpkin"></i> Font Awesome fontawesome.com --></td>
                  <td class="text-right pl-1">5</td>

                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Rating</td>
                  <td class="text-right pr-1"><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star-half fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star-half" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z"></path></svg><!-- <i class="fa fa-star-half text-dark-tangerine"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;(4.5)</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Price</td>
                  <td class="text-right pr-1">$89/mth</td>
                  <td class="text-right pl-1"><img src="assets/img/tick.png" alt=""></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Price 12 Months</td>
                  <td class="text-right pr-1">$1,200.00</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-tachometer-alt fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tachometer-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><!-- <i class="fas fa-tachometer-alt"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Speed</td>
                  <td class="text-right pr-1">100/500</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-database fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="database" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z"></path></svg><!-- <i class="fas fa-database"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Data</td>
                  <td class="text-right pr-1">Unlimited</td>
                  <td class="text-right pl-1"></td>
                </tr>
              </tbody></table>

            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-center p-2 bg-white rounded-bottom">
              <a href="more-info.html" class="btn btn-dark-tangerine btn-rounded btn-sm icon-group icon-right" type="submit">More Info <span class="icon right bg-white text-dark-tangerine"><i class="icofont-arrow-right"></i></span></a> &nbsp;&nbsp;
            </div>
            <div class="text-center py-2 rounded-bottom">
              <a class="btn btn-secondary btn-rounded btn-sm icon-group icon-right float-right" type="submit">Remove <span class="icon right text-muted bg-white border"><i class="icofont-eye"></i></span></a> &nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 pb-5">
          <div class="block block-rounded mb-0 plan-box border-lb-0">
            <div class="block-content">
              <div class="row">
                <div class="col"></div>
                <div class="col-7">
                  <img src="assets/img/plan2.jpg" alt="" class="img-fluid plan-img mb-4">
                </div>
                <div class="col"></div>
              </div>
              
              <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                  <h2 class="plan-price text-pumpkin mb-1"><sup><small>$</small></sup>99<sup><small>/mth</small></sup></h2>
                </div>
                <div class="col-12 text-center">
                  <a href="sign-up.html" class="btn btn-pumpkin btn-rounded icon-group icon-right">Select Plan <span class="icon right bg-white text-pumpkin"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fa fa-angle-right"></i> Font Awesome fontawesome.com --></span></a> &nbsp;&nbsp;
                </div>
                
              </div>
              <p class="alert alert-secondary small mt-2 mb-0">Price is good, done like tremination though and bob said he had a long wait.</p>
              <table class="plan-meta p-0">
                <tbody><tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fa fa-heart"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Favourite</td>
                  <td class="text-right pr-1"><svg class="svg-inline--fa fa-heart fa-w-16 text-pumpkin" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fa fa-heart text-pumpkin"></i> Font Awesome fontawesome.com --></td>
                  <td class="text-right pl-1">0</td>

                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Rating</td>
                  <td class="text-right pr-1"><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star-half fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star-half" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z"></path></svg><!-- <i class="fa fa-star-half text-dark-tangerine"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;(4.5)</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Price</td>
                  <td class="text-right pr-1">$99/mth</td>
                  <td class="text-right pl-1"><img src="assets/img/tick.png" alt=""></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Price 12 Months</td>
                  <td class="text-right pr-1">$1,200.00</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-tachometer-alt fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tachometer-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><!-- <i class="fas fa-tachometer-alt"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Speed</td>
                  <td class="text-right pr-1">100/500</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-database fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="database" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z"></path></svg><!-- <i class="fas fa-database"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Data</td>
                  <td class="text-right pr-1">Unlimited</td>
                  <td class="text-right pl-1"></td>
                </tr>
              </tbody></table>

            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-center p-2 bg-white rounded-bottom">
              <a href="more-info.html" class="btn btn-dark-tangerine btn-rounded btn-sm icon-group icon-right" type="submit">More Info <span class="icon right bg-white text-dark-tangerine"><i class="icofont-arrow-right"></i></span></a> &nbsp;&nbsp;
            </div>
            <div class="text-center py-2 rounded-bottom">
              <a class="btn btn-secondary btn-rounded btn-sm icon-group icon-right float-right" type="submit">Remove <span class="icon right text-muted bg-white border"><i class="icofont-eye"></i></span></a> &nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 pb-5">
          <div class="block block-rounded mb-0 plan-box border-lb-0">
            <div class="block-content">
              <div class="row">
                <div class="col"></div>
                <div class="col-7">
                  <img src="assets/img/plan3.jpg" alt="" class="img-fluid plan-img mb-4">
                </div>
                <div class="col"></div>
              </div>

              <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                  <h2 class="plan-price text-pumpkin mb-1"><sup><small>$</small></sup>99<sup><small>/mth</small></sup></h2>
                </div>
                <div class="col-12 text-center">
                  <a href="sign-up.html" class="btn btn-pumpkin btn-rounded icon-group icon-right">Select Plan <span class="icon right bg-white text-pumpkin"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fa fa-angle-right"></i> Font Awesome fontawesome.com --></span></a> &nbsp;&nbsp;
                </div>
                
              </div>
              <p class="alert alert-secondary small mt-2 mb-0">Price is good, done like tremination though and bob said he had a long wait.</p>
              <table class="plan-meta p-0">
                <tbody><tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fa fa-heart"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Favourite</td>
                  <td class="text-right pr-1"><svg class="svg-inline--fa fa-heart fa-w-16 text-pumpkin" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fa fa-heart text-pumpkin"></i> Font Awesome fontawesome.com --></td>
                  <td class="text-right pl-1">3</td>

                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Rating</td>
                  <td class="text-right pr-1"><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star text-dark-tangerine"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-star-half fa-w-18 text-dark-tangerine" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="star-half" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z"></path></svg><!-- <i class="fa fa-star-half text-dark-tangerine"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;(4.5)</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Price</td>
                  <td class="text-right pr-1">$89/mth</td>
                  <td class="text-right pl-1"><img src="assets/img/tick.png" alt=""></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-dollar-sign fa-w-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Price 12 Months</td>
                  <td class="text-right pr-1">$1,200.00</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-tachometer-alt fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tachometer-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><!-- <i class="fas fa-tachometer-alt"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Speed</td>
                  <td class="text-right pr-1">100/500</td>
                  <td class="text-right pl-1"></td>
                </tr>
                <tr>
                  <td class="text-left text-dark-tangerine"><svg class="svg-inline--fa fa-database fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="database" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z"></path></svg><!-- <i class="fas fa-database"></i> Font Awesome fontawesome.com -->&nbsp;&nbsp;Data</td>
                  <td class="text-right pr-1">Unlimited</td>
                  <td class="text-right pl-1"></td>
                </tr>
              </tbody></table>

            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-center p-2 bg-white rounded-bottom">
              <a href="more-info.html" class="btn btn-dark-tangerine btn-rounded btn-sm icon-group icon-right" type="submit">More Info <span class="icon right bg-white text-dark-tangerine"><i class="icofont-arrow-right"></i></span></a> &nbsp;&nbsp;
            </div>
            <div class="text-center py-2 rounded-bottom">
              <a class="btn btn-secondary btn-rounded btn-sm icon-group icon-right float-right" type="submit">Remove <span class="icon right text-muted bg-white border"><i class="icofont-eye"></i></span></a> &nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

